body{
    background-color: #ffd6bd;
}

.login-form{
    height: 30em;
    width: 24em;
    padding: 2em;
    border: solid thin;
    border-radius: 10px;
    margin-right: 30em;
    background-color: #fce5cd;
    margin-top: -2em;
    margin-left: -8em;
}

.login-button{
    width: 12em;
    border-radius: 10px;
    background-color: #de9b85;
   
}

.form-check{
    margin-left: -14em;
}

.main-container{
    border: solid thin;
    padding: 2em;
    background-color: #ffffff;
    
}

.logo{
    position: absolute;
    margin-left: 32em;
    margin-top: -30em;
}