header {
	position: relative;
}

.nav-area {
	float: right;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #cc0000;
	color: #fff;
}
.row{
	margin-left:3%;
	display:flex;
	
}
.greetings{
	margin-top: 6em;
	color: #cc0000;
}

.greetings p{
	color: #000000;
}

.recent{
	width: 100%;
	height: 20em;
	border: solid;
	padding: 2em;
	background-color: #fce5cd;
	border: none;
}

.c1{
	border: solid;
	width: 22em;
	height: 16em;
	margin-left:40px;
	border: solid thin;
	background-image: url("pictures/certificate2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 30em;
}

.c2{
	border: solid;
	width: 22em;
	height: 16em;
	border: solid thin;
	margin-left:40px;
	background-image: url("pictures/certificate3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 30em;
}

.c3{
	border: solid;
	width: 22em;
	height: 16em;
	border: solid thin;
	margin-left:40px;
	background-image: url("pictures/certificate2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 30em;

}

